body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    transition: all 0.8s ease;
}

#container {
    margin-top: 150px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* CHAOTIC MODE */
.chaos {
    background-color: black;
    color: hotpink;
}

.chaos h1 {
    font-size: 60px;
    transform: rotate(-10deg);
}

.chaos p {
    font-style: italic;
}

.chaos button {
    background-color: yellow;
    color: red;
    transform: scale(1.3);
}
